section.apprech

    .conteiner
        .title.title--with--bottom-line
            h2.title.title__header Our Approch
            .title__text Check our approch step by step (how we do it)

    ul.apprech__list
        li.apprech__item
            .apprech__image
                img.apprech__picture(src="../images/step-1.jpg" alt="picture")
                .apprech__step step
            .apprech__text
                .apprech__title Step 1: Heading Here
                p.apprech__destruction.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled.
        li.apprech__item
            .apprech__image
                img.apprech__picture(src="../images/step-2.jpg" alt="picture")
                .apprech__step step
            .apprech__text
                .apprech__title Step 2: Heading Here
                p.apprech__destruction.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                     when an unknown printer took a galley of type and scrambled.        
        li.apprech__item
            .apprech__image
                img.apprech__picture(src="../images/step-3.jpg" alt="picture")
                .apprech__step step
            .apprech__text
                .apprech__title Step 3: Heading Here
                p.apprech__destruction.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                     when an unknown printer took a galley of type and scrambled. 
        li.apprech__item
            .apprech__image
                img.apprech__picture(src="../images/step-4.jpg" alt="picture")
                .apprech__step step
            .apprech__text
                .apprech__title Step 4: Heading Here
                p.apprech__destruction.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                     when an unknown printer took a galley of type and scrambled.
                            
