header.header
    .header__top
        .conreiner
            .contacts
                a.contacts(href="tel:+30405954894")
                    i.fa.fa-mobile.contacts__icon(aria-hidden="true")
                     span.contact__text 0636750495


                a.contacts(href="mailto: ifo@dfdfd.com")
                    i.fa.fa-envelope.contact__icon.fa-envelope-square(aria-hidden="true")
                    span.contact__text ifo@dfdfd.com  


                a.facebook-icon(href="facebook.com")
                    i.fa.fa-facebook(aria-hidden="true")


.conteiner
    .header__bottom
        .logo: img.logo__picture(src="images/logo.png" alt="picture")
        include nav
        a.button.header__button.button--red(href="#") Free Consultation
